
@use './variables' ;
@use './reset';
@use './mixins';
@use './form';
@use './modal';

#root {
  min-height: 100vh;
}

.page-wrapper {
  @include mixins.flex-center(center, column, wrap);
  min-height: 100vh; // ex. un bleu très clair ou gris doux
  padding: 2rem;
}




