@use '../../styles/variables' as variable;
@use '../../styles/mixins' as mixin;

.navbar {
  @include mixin.flex-center($direction: column);
  padding: 1rem 2rem;

  .navbar-logo {
    font-size: 2rem;
    font-weight: bold;
    color: variable.$color-primary;
  }

  .navbar-links {
    @include mixin.flex-center;
    gap: 1.5rem;

    a {
      text-decoration: none;
      font-weight: 500;
      font-size: 1.5rem;

      &:hover {
        color: variable.$color-primary;
      }
    }
  }
}
